/* Variables  */
:root {
  --gradient: linear-gradient(
    136deg,
    #008080,
    #306cb1,
    #1ad7c0,
    #bb6363,
    #a062b9
  );
  --transition: all 0.3s linear;
}

/* Global */
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Ubuntu", sans-serif;
  line-height: 1.5;
  font-size: 0.875rem;
}

ul {
  list-style: none;
}

a,
li {
  text-decoration: none;
}

h1 {
  font-size: 3.5rem;
}

/* Global */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* navbar section */
.nav {
  background: #fff;
  padding: 1rem 1.5rem;
  cursor: pointer;
}

/* fixed nav */
.fixed-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #17cece;
  z-index: 999;
}

.fixed-nav .links a {
  color: #fff;
}

.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-toggle {
  display: block;
  background: transparent;
  font-size: 2.2rem;
  color: #fff;
  border: none;
  margin-right: 20px;
  cursor: pointer;
}

.logo {
  margin-left: 20px;
  color: #fff;
  font-size: 40px;
  width: 70px;
  height: auto;
  transition-duration: 1000ms;
}

.logo:hover {
  transform: rotate(-180deg);
}

.links-container {
  height: 0;
  overflow: hidden;
  transition: var(--transition);
}

.show-links {
  height: 200px;
}

.links a {
  background: transparent;
  color: #fff;
  font-size: 1.1rem;
  margin-left: 10px;
  text-transform: capitalize;
  display: block;
  transition: var(--transition);
  font-weight: bold;
  padding: 0.75rem 0;
}

/* nvabar for more than 800px size  */
@media screen and (min-width: 800px) {
  .nav {
    background: transparent;
  }

  .nav-center {
    width: 90vw;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .nav-header {
    padding: 0;
  }

  .nav-toggle {
    display: none;
  }

  .links-container {
    height: auto !important;
  }

  .links {
    display: flex;
  }

  .links a {
    background: transparent;
    color: #fff;
    font-size: 1.5rem;
    text-transform: capitalize;
    display: block;
    transition: var(--transition);
    margin: 0 1rem;
    font-weight: bold;
    padding: 0;
  }
}

/* hero section */
@keyframes bg-animation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

.hero {
  height: 100vh;
  background-image: var(--gradient);
  background-size: 1200%;
  animation: bg-animation 90s infinite alternate;
  font-size: 1.8rem;
  color: #fff;
}

/* hero container */
.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
}

.hero-container h1 {
  font-size: 5rem;
  font-weight: 400;
}

.hero-container p {
  font-size: 2rem;
}

.social a {
  text-decoration: none;
  color: #fff;
}

.fa-github,
.fa-linkedin {
  font-size: 50px;
  padding: 20px 10px;
}

.fa-github:hover {
  color: #000;
}

.fa-linkedin:hover {
  color: #000;
}

.btn {
  width: 180px;
  height: 50px;
  background: transparent;
  margin-top: 20px;
  padding-top: 5px;
  border-radius: 10px;
  color: #fff;
  font-size: 1.5rem;
  border: 1px solid #fff;
  cursor: pointer;
}

.btn:focus {
  outline: none;
}

.btn:hover {
  background: #fff;
  color: #000;
}

/* hero section mobile view */
@media screen and (max-width: 560px) {
  .hero-container h1 {
    font-size: 3.5rem;
  }

  .hero-container p {
    font-size: 1.5rem;
  }
}

/* about me section */
.about-me {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  height: 500px;
  color: #686161;
  background: #e7e0e0;
}

.headshot-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.headshot-container img {
  width: 250px;
  height: auto;
  border-radius: 40%;
  margin-top: 40px;
  margin-right: 50px;
}

.information {
  text-align: center;
  flex-basis: 50%;
}

.information h2 {
  font-size: 3rem;
  font-weight: 400;
  margin-bottom: 10px;
}

.information p {
  font-size: 1.3rem;
  line-height: 2.2rem;
}

/* about me section tablet view */
@media screen and (max-width: 1180px) {
  .headshot-container img {
    display: none;
  }

  .information {
    flex-basis: 80%;
  }
}

/* about me section mobile view */
@media screen and (max-width: 600px) {
  .headshot-container img {
    display: none;
  }

  .information {
    flex-basis: 100%;
  }

  .information p {
    font-size: 1rem;
    line-height: 2.5rem;
  }
}

@media screen and (max-width: 400px) {
  .headshot-container img {
    display: none;
  }

  .information {
    flex-basis: 100%;
  }

  .information h2 {
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 5px;
  }
}

/* Projects section */
.projects {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.projects h2 {
  font-size: 3rem;
  font-weight: 400;
  margin: 20px 0;
  color: #686161;
}

.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.col-2 {
  height: 400px;
  width: auto;
  flex-basis: 32%;
  margin: 30px;
  padding: 40px 20px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: transform 0.5s;
  border-radius: 5%;
}

.col-2:hover {
  transform: translateY(-10px);
}

.col-2 h3 {
  font-size: 1.8rem;
  text-align: center;
  color: #17cece;
}

.col-2 img {
  width: 350px;
  height: 180px;
  margin-top: 15px;
}

.project-button {
  display: flex;
  justify-content: center;
  margin: 50px;
  text-align: center;
}

.project-btn {
  width: 180px;
  height: 200px;
  margin: 0 10px;
  background: transparent;
  padding: 10px;
  border-radius: 10px;
  color: #686161;
  font-size: 1rem;
  border: 1px solid #686161;
  cursor: pointer;
}

.project-btn:hover {
  background: #17cece;
  color: #000;
}

/* Projects section mobile view */
@media screen and (max-width: 400px) {
  .projects h2 {
    font-size: 2rem;
  }

  .col-2 img {
    width: 250px;
    height: 180px;
    margin-top: 15px;
  }

  .project-button {
    display: flex;
    justify-content: center;
    margin: 20px;
    text-align: center;
  }

  .project-btn {
    width: 90px;
    height: 120px;
    margin: 0 10px;
    background: transparent;
    padding: 10px;
    border-radius: 10px;
    color: #686161;
    font-size: 0.75rem;
  }
}

/* skills section */
.skills {
  height: 500px;
  background-color: #e7e0e0;
  text-align: center;
}

.skills h2 {
  font-size: 3rem;
  font-weight: 400;
  margin: 30px 0;
  padding-top: 10px;
  color: #686161;
}

.skills .col-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-basis: 30%;
  font-size: 1.5rem;
  color: #686161;
  margin-bottom: 50px;
}

.skills-icons {
  font-size: 3.5rem;
  margin-bottom: 15px;
}

.fa-html5 {
  color: #ff7b00;
}

.fa-css3-alt {
  color: #5252e2;
}

.fa-js {
  color: #e4e429;
}

.fa-bootstrap {
  color: #3300cc;
}

.fa-git-alt {
  color: #ec4848;
}

.js-img {
  width: 50px;
  height: auto;
  margin-bottom: 8px;
}

.agile {
  width: 60px;
  height: auto;
}

/* skills section mobile view */
@media screen and (max-width: 400px) {
  .skills h2 {
    font-size: 2.5rem;
  }

  .skills .col-3 {
    flex-basis: 30%;
    font-size: 1.2rem;
  }

  .skills-icons {
    font-size: 2.5rem;
    margin-bottom: 15px;
  }

  .js-img {
    width: 40px;
    height: auto;
  }

  .agile {
    width: 50px;
    height: auto;
  }
}
/* footer section */
footer {
  background-color: #575454;
  color: #fff;
  text-align: center;
  height: 300px;
}

footer h2 {
  font-size: 3rem;
  font-weight: 400;
  padding-top: 10px;
  color: #17cece;
}

footer p {
  font-size: 1.3rem;
  margin: 10px;
}

footer a {
  font-size: 1.5rem;
  color: #17cece;
  margin: 15px;
}

.open-source {
  font-size: 1rem;
}

.top-link {
  font-size: 1.25rem;
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  background: #17cece;
  width: 2rem;
  height: 2rem;
  display: grid;
  place-items: center;
  border-radius: 4px;
  color: #fff;
  animation: bounce 2s ease-in-out infinite;
  visibility: hidden;
  z-index: 100;
}

.show-link {
  visibility: visible;
  z-index: 100;
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

/* footer section mobile view  */
@media screen and (max-width: 650px) {
  footer h2 {
    font-size: 2rem;
  }

  footer p {
    font-size: 1rem;
  }

  footer a {
    font-size: 1.2rem;
  }
}
